.masthead {
  background-image: url("/static/assets/img/bg.jpeg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 20px;
}

.masthead h1 {
  margin-bottom: 20px;
}

.btn-primary {
  margin: 1% 0%;
  background: #87ceeb;
  border-color: #87ceeb;
}

.alert {
  background: #c3fbf9;
}

body {
  overflow: hidden;
  height: auto;
}

body.loaded {
  overflow: visible;
}

.preloader.loaded {
  display: none;
}

/* Preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(248, 249, 250);
  display: grid;
  place-items: center;
  z-index: 6;
}

.preloader.loaded {
  display: none;
}

.preloader-circle {
  width: 60px;
  height: 60px;
  border: 8px solid transparent;
  border-block-color: rgb(19, 124, 201);
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.the-spinner {
  border: 12px solid #f3f3f3;
  border-top: 12px solid rgb(19, 124, 201);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading p {
  margin: 2% 0%;
}
